*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #eee;
}
.wrap{
    width: 80%;
    height: 100vh;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.wrap aside{
    width: 22%;
    height: 100%;
}
.wrap aside .box{
    width: 100%;
    height: 200px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
}
.wrap aside .box.box1{
    background-image: linear-gradient(40deg, blue , purple, orange);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.wrap aside .box.box1 h3{
    margin-bottom: 5px;
}
.wrap aside .box.box2{
    padding: 20px;
}
.wrap aside .box.box2 span{
 background-color: #5190e2;
 padding: 10px 20px;
 display: inline-block;
 border-radius: 20px;
 color: rgb(35, 35, 180);
 font-weight: bold;
 margin-bottom: 10px; 
 cursor: pointer; 
}
.wrap aside .box.box2 span.active{
  background-color: rgb(35, 35, 180);
  color: #fff;
}
.wrap aside .box.box3{
    padding: 20px;
}
.wrap aside .box.box3 .road{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;  
  margin-bottom: 20px;
}
.wrap aside .box.box3 .plan{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.wrap aside .box.box3 .plan .sign{
  display: flex;  
  width: 40%;
  justify-content: space-between;
  align-items: center;

}
.wrap aside .box.box3 .plan .sign .bullet{
   width: 10px;
   height: 10px;
   background-color: red;
   border-radius: 50%;
   display: block;    
}
.wrap aside .box.box3 .plan .sign p{
    width: 80%;
}   
.wrap aside .box.box3 .plan .sign .bullet.purple{
  background-color: purple;  
}
.wrap aside .box.box3 .plan .sign .bullet.green{
    background-color: green;
}
.wrap main{
    width: 65%;
    height: 100%;
}
.wrap main .box{
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
}
.wrap main .box.box1{
    background-color: #371169;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.wrap main .box.box1 .suggestion, .wrap main .box.box1 .sort{
    color: #fff;
}
.wrap main .box.box1 .feedback a{
    background-color: purple;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.wrap main .box.box2{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.wrap main .box.box2 .solution{
    display: flex;
    width: 65%;
   justify-content: space-between;
}
.wrap main .box.box2 .solution .tag{
    background-color: rgb(97, 124, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 7px;
    height: fit-content;
}
.wrap main .box.box1 .solution .tag .icon{
  color: #0000b6;
  font-weight: bold;
}
.wrap main .box.box1 .solution .tag p{
   color:#2d2d6b ; 
   font-weight: bold;
}
.wrap main .box.box1 .solution .add h2,
    .wrap main .box.box1 .solution .add p{
    margin-bottom: 2px ;
    }   
    .wrap main .box.box2 .solution .add a{
        background-color: #5190e2;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 15px;
        color: rgb(35, 35, 180);
       text-decoration: none;
        margin-bottom: 10px; 
        cursor: pointer; 
    }
    .wrap main .box.box2 .message{
      display: flex;
      align-items: center;  
    }
    .wrap main .box.box2 .message p{
       font-weight: bold; 
    }

    @media screen and (max-width: 1214px){
        .wrap{
            width: 95%;
            flex-direction: column;
        }
        .wrap main{
         width: 100%;
        }
        .wrap aside{
            width: 100%;
        }
        .wrap main{
            width: 100%;
        }
    }
    @media screen and (max-width: 552px){
        .wrap main{
            width: 100%;
        }
    }
   
